.query{
    width: 100%;
}

.query_box 
{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: #f18303;
    border-bottom: 1px solid white ;

}
.note h3
{
    margin-left: 80px;
    color: #f18303;
}
.note p
{
    margin-left: 100px;
    
}

.list 
{
    margin-top: 30px;
}
.list li
{
    margin-top: 10px;
    margin-left: 100px;
}